<div class="container warpper-container">
  <div class="panel panel-info">
    <div class="panel-heading">
      Header
    </div>
    <div class="panel-body">
      <router-outlet></router-outlet>
    </div>
    <div class="panel-footer">
      <a class="link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a class="link" routerLink="/about" routerLinkActive="active menu" [routerLinkActiveOptions]="{exact: true}">About</a>
      <a class="link" routerLink="/about/web" routerLinkActive="active menu" >About Web</a>
      <a class="link" routerLink="/contact" routerLinkActive="active menu">Contact</a>
    </div>
  </div>

</div>

